/* .BookItem {
  background: linear-gradient(to top, rgba(0,0,0,.95) 30%, rgba(0,0,0,0.3) 70%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .2em;
  transition: all 2s;
  overflow: hidden;
} */