.Modal {
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.Modal__box {
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 30%;
	width: 33%;
	border-radius: .5rem;
	overflow-y: auto;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	z-index: 999;
	padding: 40px;
	animation: fadeIn .2s linear;
}

.Modal__background{
  position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: rgba(255, 184, 56, 0.95);
}


@keyframes fadeIn {
  from {
    top: 40%;
    opacity: 50%;
    }

    to {
    top: 50%;
    opacity: 100%;
    }
}