@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  @apply text-4xl text-gray-800 font-bold
}

.h2 {
  @apply text-3xl text-gray-800 font-bold
}

.h3 {
  @apply text-2xl text-gray-800 font-bold
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-400 rounded py-2 px-4 text-white
}

.btn-secondary {
  @apply bg-orange-500 hover:bg-orange-600 rounded py-2 px-4 text-white
}